@verdeOscuro: #003C00;
@verdeClaro: #76b900;

/*.animacionGiro() {
    animation-name: giro;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes giro {
        12.5% {
            transform: scale(0.9, 0.9) rotate(45deg);
        }
        25% {
            transform: scale(0.8, 0.8) rotate(90deg);
        }
        37.5% {
            transform: scale(0.9, 0.9) rotate(135deg);
        }
        50% {
            transform: scale(1, 1) rotate(180deg);
        }
        62.5% {
            transform: scale(0.9, 0.9) rotate(225deg);
        }
        75% {
            transform: scale(0.8, 0.8) rotate(270deg);
        }
        87.5% {
            transform: scale(0.9, 0.9) rotate(315deg);
        }
        100% {
            transform: scale(1, 1) rotate(360deg);
        }
    }
}

.animacionColor(@direction) {
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: @direction;

    @keyframes color {
        0% {color: @verdeClaro;}
        100% {color: white;}
        //100% {color: @verdeClaro;}
    }
}*/

//MOVIL (xs en boot)
//TABLET (sm en boot)
@media (min-width: 768px) {}

//PC (md en boot)
@media (min-width: 992px) {
    * {
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        outline: none;
    }
    a {
        color: inherit;
        text-decoration: none;
        outline: none;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
        &:visited {
            color: inherit;
            text-decoration: none;
        }
        &:not(focus) {
            color: inherit;
            text-decoration: none;
        }
    }
    @font-face {
        font-family: "zekton";
        src: url('../fonts/Zekton/zekton.ttf');
    }
    body {
        background-color: #363636;
    }
    main {
        font-family: "zekton";
    }
    .centered {
        margin: 0 auto;
        text-align: center;
    }
    .cabecera {
        margin-bottom: 1em;
        margin-top: 1em;
        background: linear-gradient(to right, rgb(0, 60, 0) 0%, rgb(0, 60, 0) 35%, rgb(0, 0, 0) 100%);
        background: rgb(0, 60, 0);
        border-radius: 0.4em;
        padding: 1em;
        .logo {
            float: left;
            position: relative;
            top: 0.2em;
            left: 1em;
            //.animacionGiro;
        }
        .titulo {
            //padding-left: 0.75em;
            font-size: 5.8em;
            font-weight: bold;
            //display: inline-block;
            //.animacionColor(alternate);
            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }
        .titulo2 {
            font-size: 5.8em;
            color: white;
            //.animacionColor(alternate-reverse);
            &:hover {
                text-decoration: none;
            }
        }
        .login {
            display: inline-block;
            text-align: center;
            position: relative;
            input[type=button] {
                width: 120px;
            }
            //float: right;
            //margin-top: 0.5em;
            //margin-right: 0;
            //padding-left: 0;
        }
        .user_img {
            width: 7em;
        }
        /*        .login > div > .boton {
            width: 50%;
            float: left;
        }
        .login > div > .boton + .boton {
            margin-top: 0.2em;
        }
        */
    }
    nav.menu {
        float: left;
        position: relative;
        //width: 960px;
        //height: 1.8em;
        background-color: @verdeOscuro;
        //font-size: 1.5em;
        border-radius: 0.2em;
        //margin-bottom: 1em;
        a {
            vertical-align: middle;
            color: @verdeClaro;
            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }
        input {
            border: solid 3px @verdeClaro;
            border-radius: 0.4em;
            width: 250px;
        }
        img {
            width: 0.67em;
            position: absolute;
            left: 7.9em;
            top: 0.35em;
            cursor: pointer;
            overflow: visible;
        }
    }
    /*h1 {
        font-size: 6em;
        margin-left: 1em;
        margin-right: 1em;
    }*/
    .cuerpo {
        position: relative;
        display: block;
        clear: both;
        .presentacion {
            section {
                text-align: center;
                background-color: @verdeOscuro;
                margin-bottom: 1em;
            }
            span {
                font-size: 2em;
                padding: 10px;
            }
            .box {
                display: inline-block;
                position: relative;
                width: 24%;
                margin: 0 0 0.2em 0.2em;
                background-color: #002C00;
                img {
                    width: 240px;
                    margin: 0 auto;
                    padding: 10px;
                }
                h4 {
                    text-align: center;
                }
                div {
                    position: absolute;
                    padding: 5px;
                    background-color: @verdeOscuro;
                    &.precio {
                        top: 10px;
                        right: 10px;
                    }
                    &.so {
                        top: 43px;
                        right: 10px;
                    }
                    &.categoria {
                        top: 10px;
                        right: 330px;
                    }
                }
            }
        }
        /*.autopromo {
            margin-top: 1em;
            height: 22em;
            display: block;
            clear: both;
            background-color: @verdeOscuro;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
            }
            #cajaVideo {
                width: 100%;
                height: 100%;
                video {
                    display: inline;
                    text-align: center;
                    height: 80%;
                }
                #bar {
                    padding: 0.1em;
                }
                #controles {
                    display: block;
                    text-align: center;
                    img {
                        background-image: url('../img/icons/controles.png');
                        height: 40px;
                        width: 50px;
                        display: inline-block;
                        border-radius: 8px;
                        padding-bottom: 0.3em;
                    }
                    #play {
                        background-position: 0;
                    }
                    #pause {
                        background-position: -4.30em;
                    }
                    #volup {
                        background-position: -8.6em;
                    }
                    #voldown {
                        background-position: -12.95em;
                    }
                }
                progress {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    width: 300px;
                }
            }
        }*/
        .categorias {
            background-color: gray;
            padding-bottom: 1em;
            li {
                width: 33%;
                display: inline-block;
                h4 {
                    text-align: center;
                    background-color: @verdeOscuro;
                    height: 2em;
                    font-size: 1.2em;
                    color: @verdeClaro;
                    padding-top: 0.5em;
                    cursor: pointer;
                }
                img {
                    margin: 0 auto;
                    cursor: pointer;
                    width: 100%;
                }
            }
        }
        .error {
            img {
                width: 960px;
            }
        }
        .registro {
            display: block;
            clear: both;
            background-color: @verdeOscuro;
            text-align: center;
            form {
                display: block;
                clear: both;
                ul {
                    background-color: @verdeOscuro;
                    li {
                        height: 2em;
                    }
                }
                .izq {
                    width: 44.5%;
                    position: relative;
                    display: inline-block;
                    font-size: 1em;
                    float: left;
                    line-height: 1.55em;
                    text-align: right;
                    .checkbox_reg {
                        position: relative;
                        left: -1em;
                    }
                }
                .dcha {
                    width: 54.5%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    position: relative;
                    text-align: left;
                    input {
                        text-align: left;
                        height: -o-2em;
                        border-radius: 0.4em;
                    }
                    .reg {
                        position: relative;
                        left: -0.9em;
                    }
                }
                .resto {
                    display: block;
                    clear: both;
                    text-align: center;
                    margin-top: 1em;
                }
            }
        }
    }
    .boton {
        height: 2em;
        background-color: @verdeClaro;
        color: @verdeOscuro;
        border-color: @verdeOscuro;
        font-family: "zekton";
        font-size: 1em;
        border-radius: 0.4em;
        cursor: pointer;
    }
    .rrss {
        //display: block;
        //clear: both;
        //position: relative;
        ul {
            li {
                float: left;
                background-color: gray;
                //margin-top: 1em;
                //margin-bottom: 1em;
                //width: 14.286%;
                div {
                    height: 1.4em;
                    text-align: center;
                    background-image: url('../img/icons/iconos.svg');
                }
                .xbox {
                    background-position: 3.5em 0em;
                }
                .steam {
                    background-position: 3.5em -5.23em;
                }
                .reddit {
                    background-position: 3.5em -3.92em;
                }
                .google {
                    background-position: 3.5em -6.57em;
                }
                .twitter {
                    background-position: 3.5em -2.6em;
                }
                .facebook {
                    background-position: 3.5em -7.9em;
                }
                .youtube {
                    background-position: 3.5em -1.29em;
                }
            }
        }
    }
    .condiciones {
        width: 101%;
        ul > li {
            text-align: center;
            float: left;
            width: 33%;
            height: 1.4em;
            background-color: gray;
            img {
                height: 1em;
                padding: 0.1em;
                cursor: pointer;
            }
            span {
                text-align: center;
                cursor: pointer;
                color: @verdeOscuro;
            }
        }
    }
    .copyright {
        text-align: center;
        color: @verdeClaro;
        padding-top: 0.2em;
        cursor: default;
    }
}


/*#cajaVideo {
                width: 100%;
                height: 100%;
                video {
                    display: inline;
                    text-align: center;
                    height: 80%;
                }
                #bar {
                    padding: 0.1em;
                }
                #controles {
                    display: block;
                    text-align: center;
                    img {
                        background-image: url('../img/icons/controles.png');
                        height: 40px;
                        width: 50px;
                        display: inline-block;
                        border-radius: 8px;
                        padding-bottom: 0.3em;
                    }
                    #play {
                        background-position: 0;
                    }
                    #pause {
                        background-position: -4.30em;
                    }
                    #volup {
                        background-position: -8.6em;
                    }
                    #voldown {
                        background-position: -12.95em;
                    }
                }
                progress {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    width: 300px;
                }
            }*/