@verdeOscuro: #003C00;
@verdeClaro: #76b900;

/*.animacionGiro() {
    animation-name: giro;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes giro {
        12.5% {
            transform: scale(0.9, 0.9) rotate(45deg);
        }
        25% {
            transform: scale(0.8, 0.8) rotate(90deg);
        }
        37.5% {
            transform: scale(0.9, 0.9) rotate(135deg);
        }
        50% {
            transform: scale(1, 1) rotate(180deg);
        }
        62.5% {
            transform: scale(0.9, 0.9) rotate(225deg);
        }
        75% {
            transform: scale(0.8, 0.8) rotate(270deg);
        }
        87.5% {
            transform: scale(0.9, 0.9) rotate(315deg);
        }
        100% {
            transform: scale(1, 1) rotate(360deg);
        }
    }
}

.animacionColor(@direction) {
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: @direction;

    @keyframes color {
        0% {color: @verdeClaro;}
        100% {color: white;}
        //100% {color: @verdeClaro;}
    }
}*/


/*//MOVIL (xs en boot)
@media (min-width: 360px) {
    .invisible {
        display: none;
        visibility: none;
    }
    #logo {
        float: left;
        display: inline-block;
        text-align: left;
    }
    .name {
        display: inline-block;
        float: right;
        text-align: right;
    }
}*/

//TABLET (sm en boot)
@media (min-width: 768px) {}

//PC (md en boot)
@media (min-width: 992px) {
    * {
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        outline: none;
        cursor: default;
    }
    a {
        vertical-align: middle;
        color: @verdeClaro;
        outline: none;
        cursor: pointer;
        &:active {
            outline: none;
            color: inherit;
        }
        &:hover {
            color: inherit;
            text-decoration: none;
        }
        &:visited {
            color: inherit;
            text-decoration: none;
        }
        &:not(hover) {
            color: inherit;
            text-decoration: none;
        }
    }
    @font-face {
        font-family: "zekton";
        src: url('../fonts/Zekton/zekton.ttf');
    }
    @keyframes press {
        from {
            border-color: @verdeOscuro;
            background-color: @verdeClaro;
            color: @verdeOscuro;
        }
        to {
            border-color: @verdeClaro;
            background-color: @verdeOscuro;
            color: @verdeClaro;
        }
    }
    body {
        background-color: #363636;
    }
    main {
        font-family: "zekton";
    }
    .centered {
        margin: 0 auto;
        text-align: center;
    }
    .cabecera {
        margin-bottom: 1em;
        margin-top: 1em;
        background: linear-gradient(to right, rgb(0, 60, 0) 0%, rgb(0, 60, 0) 35%, rgb(0, 0, 0) 100%);
        background: rgb(0, 60, 0);
        border-radius: 0.4em;
        padding: 1em;
        .logo {
            position: relative;
            #logo {
                cursor: pointer;
            }
            //.animacionGiro;
        }
        .titulo {
            font-size: 5.8em;
            font-weight: bold;
            //.animacionColor(alternate);
            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }
        .titulo2 {
            font-size: 5.8em;
            color: white;
            //.animacionColor(alternate-reverse);
            &:hover {
                text-decoration: none;
            }
        }
        .login {
            display: inline-block;
            text-align: center;
            position: relative;
            input[type=button] {
                width: 120px;
                border: 2px solid @verdeOscuro;
                &:hover {
                    border: 2px solid @verdeClaro;
                    color: @verdeClaro;
                    background-color: @verdeOscuro;
                    animation-name: press;
                    animation-duration: 1s;
                }
                &:not(hover) {
                    border: 2px solid @verdeOscuro;
                    color: @verdeOscuro;
                    background-color: @verdeClaro;
                    animation-name: release;
                    animation-duration: 1s;
                }
            }
        }
        .user_img {
            width: 7em;
        }
    }
    @keyframes lighter {
        from {
            background-color: @verdeOscuro;
            color: @verdeClaro;
        }
        to {
            background-color: @verdeClaro;
            color: @verdeOscuro;
        }
    }
    @keyframes darker {
        from {
            background-color: @verdeClaro;
            color: @verdeOscuro;
        }
        to {
            background-color: @verdeOscuro;
            color: @verdeClaro;
        }
    }
    nav.menu {
        position: relative;
        background-color: @verdeOscuro;
        border-radius: 0.2em;
        a {
            border-radius: 40px;
            text-align: center;
            vertical-align: middle;
            padding-top: 0.2em;
            color: @verdeClaro;
            outline: none;
            width: 250px;
            &:hover {
                color: inherit;
                text-decoration: none;
                animation-name: lighter;
                animation-duration: 1s;
                background-color: @verdeClaro;
                color: @verdeOscuro;
            }
            &:visited {
                color: inherit;
                text-decoration: none;
            }
            &:not(hover) {
                animation-name: darker;
                animation-duration: 1s;
                text-decoration: none;
            }
        }
        input {
            border: solid 3px @verdeClaro;
            border-radius: 0.4em;
            margin-left: 5px;
            width: 245px;
            height: 1em;
            cursor: text;
        }
        img {
            width: 0.67em;
            position: absolute;
            left: 7.9em;
            top: 0.35em;
            cursor: pointer;
            overflow: visible;
        }
    }
    .cuerpo {
        position: relative;
        display: block;
        clear: both;
        .presentacion {
            section {
                text-align: center;
                background-color: @verdeOscuro;
                margin-bottom: 1em;
            }
            span {
                font-size: 3.2em;
                padding: 10px;
            }
            .box {
                width: 24.2%;
                height: 13em;
                margin: 0 0 0.4em 1em;
                background-color: #002C00;
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
                img {
                    width: 58%;
                    margin: 0 auto;
                    padding: 2.5%;
                    &:hover {
                        cursor: pointer;
                    }
                }
                h4 {
                    text-align: center;
                    font-size: 140%;
                    &:hover {
                        cursor: pointer;
                    }
                }
                div {
                    position: absolute;
                    padding: 1%;
                    background-color: @verdeOscuro;
                    &:hover {
                        cursor: pointer;
                    }
                    &.precio {
                        width: 15%;
                        top: 6%;
                        left: 340px;
                    }
                    &.descuento {
                        width: 8%;
                        top: 5.5%;
                        left: 25.4%;
                        background-color: @verdeClaro;
                        color: @verdeOscuro;
                        border: solid 1px @verdeOscuro;
                    }
                    &.so {
                        top: 23%;
                        width: 15%;
                        left: 79.3%;
                    }
                    &.categoria {
                        width: 20%;
                        top: 6%;
                        right: 77.5%;
                    }
                }
            }
        }
        /*.autopromo {
            margin-top: 1em;
            height: 22em;
            display: block;
            clear: both;
            background-color: @verdeOscuro;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
            }
            #cajaVideo {
                width: 100%;
                height: 100%;
                video {
                    display: inline;
                    text-align: center;
                    height: 80%;
                }
                #bar {
                    padding: 0.1em;
                }
                #controles {
                    display: block;
                    text-align: center;
                    img {
                        background-image: url('../img/icons/controles.png');
                        height: 40px;
                        width: 50px;
                        display: inline-block;
                        border-radius: 8px;
                        padding-bottom: 0.3em;
                    }
                    #play {
                        background-position: 0;
                    }
                    #pause {
                        background-position: -4.30em;
                    }
                    #volup {
                        background-position: -8.6em;
                    }
                    #voldown {
                        background-position: -12.95em;
                    }
                }
                progress {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    width: 300px;
                }
            }
        }*/
        .categorias {
            background-color: gray;
            padding-bottom: 1em;
            padding-left: 8em;
            li {
                &:hover {
                    opacity: 0.5;
                }
                h4 {
                    text-align: center;
                    background-color: @verdeOscuro;
                    height: 2em;
                    font-size: 1.2em;
                    color: @verdeClaro;
                    padding-top: 0.5em;
                    cursor: pointer;
                    &.noMargin {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
                img {
                    cursor: pointer;
                    width: 318.25px;
                }
            }
        }
        .error {
            img {
                width: 960px;
            }
        }
        .registro {
            display: block;
            clear: both;
            background-color: @verdeOscuro;
            text-align: center;
            form {
                display: block;
                clear: both;
                ul {
                    background-color: @verdeOscuro;
                    li {
                        height: 2em;
                    }
                }
                .izq {
                    width: 44.5%;
                    position: relative;
                    display: inline-block;
                    font-size: 1em;
                    float: left;
                    line-height: 1.55em;
                    text-align: right;
                    .checkbox_reg {
                        position: relative;
                        left: -1em;
                    }
                }
                .dcha {
                    width: 54.5%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    position: relative;
                    text-align: left;
                    input {
                        text-align: left;
                        height: -o-2em;
                        border-radius: 0.4em;
                    }
                    .reg {
                        position: relative;
                        left: -0.9em;
                    }
                }
                .resto {
                    display: block;
                    clear: both;
                    text-align: center;
                    margin-top: 1em;
                }
            }
        }
    }
    .boton {
        height: 2em;
        background-color: @verdeClaro;
        color: @verdeOscuro;
        border-color: @verdeOscuro;
        font-family: "zekton";
        font-size: 1em;
        border-radius: 0.4em;
        cursor: pointer;
    }
    .rrss {
        ul {
            li {
                float: left;
                background-color: gray;
                div {
                    height: 1.4em;
                    text-align: center;
                    background-image: url('../img/icons/iconos.svg');
                }
                .xbox {
                    background-position: 3.5em 0em;
                }
                .steam {
                    background-position: 3.5em -5.23em;
                }
                .reddit {
                    background-position: 3.5em -3.92em;
                }
                .google {
                    background-position: 3.5em -6.57em;
                }
                .twitter {
                    background-position: 3.5em -2.6em;
                }
                .facebook {
                    background-position: 3.5em -7.9em;
                }
                .youtube {
                    background-position: 3.5em -1.29em;
                }
            }
        }
    }
    .condiciones {
        position: relative;
        left: -3%;
        ul li {
            text-align: center;
            height: 1.4em;
            background-color: gray;
            img {
                height: 1em;
                padding: 0.1em;
                cursor: pointer;
            }
            span {
                text-align: center;
                color: @verdeOscuro;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        color: @verdeClaro;
        padding-top: 0.2em;
        cursor: default;
    }
}


/*#cajaVideo {
                width: 100%;
                height: 100%;
                video {
                    display: inline;
                    text-align: center;
                    height: 80%;
                }
                #bar {
                    padding: 0.1em;
                }
                #controles {
                    display: block;
                    text-align: center;
                    img {
                        background-image: url('../img/icons/controles.png');
                        height: 40px;
                        width: 50px;
                        display: inline-block;
                        border-radius: 8px;
                        padding-bottom: 0.3em;
                    }
                    #play {
                        background-position: 0;
                    }
                    #pause {
                        background-position: -4.30em;
                    }
                    #volup {
                        background-position: -8.6em;
                    }
                    #voldown {
                        background-position: -12.95em;
                    }
                }
                progress {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    width: 300px;
                }
            }*/