@font-face {
    font-family: "zekton";
    src: url('../Fuentes/Zekton/zekton.ttf');
}


@media screen {

    body {
        background-color: #363636;
    }

    main    {
           margin: 0 auto;
           width: 960px;
           font-family: "zekton";
    }

    .cabecera   {
            float: left;
            display: block;
            margin: 0 auto;
            margin-bottom: 1em;
            margin-top: 1em;
            width: 960px;
            height: 115px;
            background: rgb(0,60,0);
            background: linear-gradient(to right, rgb(0,60,0) 0%, rgb(0,60,0) 35%, rgb(0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003c00', endColorstr='#000000', GradientType=1 );
            border-radius: 0.4em;
    }

    .logo  {
        float: left;
        position: relative;
        top: 0.2em;
        left: 1em;
    }

    .titulo {
        padding-left: 0.75em;
        font-size: 5.8em;
        font-weight: bold;
        display: inline-block;
    }

    .titulo2 {
        font-size: 5.8em;
        color: white;
    }

    .login  {
        float: right;
        position: relative;
        left: 3em;
        margin-top: 0.5em;
    }

    .user_img {
            width: 5em;
            margin-right: 0.3em;
            margin-left: 0.3em;
            float: left;
    }

    .login > .boton {
            width: 50%;
            float: left;
            height: 2em;
            background-color: #76b900;
            color: #003c00;
            border-color: #003c00;
            margin-top: 10px;
            font-family: "zekton";
            font-size: 1em;
            border-radius: 0.4em;
    }

    .login > .boton + .boton {
        margin-top: 0.2em;
    }

    li.menu_buscar > img {
        width: 0.7em;
        position: relative;
        left: -1.1em;
        top: 0.1em;
        cursor: pointer;
    }

    nav.menu    {
        float: left;
        width: 960px;
        height: 1.8em;
        background-color: #003C00;
        font-size: 1.5em;
        border-radius: 0.2em;
    }

    nav.menu > ul > li  {
                    float: left;
                    width: 18%;
                    margin-left: 0.5em;
                    text-align: center;
                    padding-top: 0.2em;
    }

    nav.menu > ul > li > a {
        vertical-align: middle;
    }

    li.menu_buscar > input {
        border-radius: 0.4em;
        width: 100%;
    }

    .autopromo  {
             margin-top: 1em;
             height: 20em;
    }

    .autopromo > img {
        width: 100%;
        height: 100%;
    }

    h1  {
        font-size: 6em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .cuerpo {
        float: left;
    }

    .cuerpo > ul {
        background-color: gray;
        margin-top: 1em;
    }

    .cuerpo > ul > li   {
        width: 30.05%;
        height: 30%;
        display: inline-block;
        padding: 0.9em;
    }

    .cuerpo > ul > li > h4 {
        text-align: center;
        background-color: #003C00;
        height: 2em;
        padding-top: 0.5em;
    }

    .cuerpo > ul > li > img {
        width: 100%;
    }

    .rrss > ul > li {
        float: left;
        background-color: gray;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 14.286%;
    }

    .rrss > ul > li > div {
        height: 1.17em;
    }

    .rrss > ul > li > div.xbox {
        background-image: url('../img/icons/iconos.svg');
        background-position: 3.5em 0.03em;
    }

    .rrss > ul > li > div.steam {
        background-image: url('../img/icons/iconos.svg');
        background-position: 3.5em -4.62em;
    }

    .rrss > ul > li > div.reddit {
        background-image: url('../img/icons/iconos.svg');
        background-position: 3.5em -3.46em;
    }

    .rrss > ul > li > div.google {
        background-image: url('../img/icons/iconos.svg');
        background-position: 3.5em -5.77em;
    }

    .rrss > ul > li > div.twitter {
        background-image: url('../img/icons/iconos.svg');
        background-position: 3.5em -2.3em;
    }

    .rrss > ul > li > div.facebook {
        background-image: url('../img/icons/iconos.svg');
        background-position: 3.5em -6.9em;
    }

    .rrss > ul > li > div.youtube {
        background-image: url('../img/icons/iconos.svg');
        background-position: 3.5em -1.131em;
    }

    section.condiciones {
        display: inline-block;
        width: 101%;
    }

    section.condiciones > ul > li {
        text-align: center;
        float: left;
        width: 33%;
        height: 1.4em;
        background-color: gray;
    }

    section.condiciones > ul > li img {
        height: 1em;
        padding: 0.1em;
    }

    section#copyright {
        text-align: center;
        padding-top: 0.2em;
    }
}

@media handheld {

    body {background-color: blue;}
}
