@media screen {

    main    {
            margin: 0 auto;
            width: 960px;
            }

    .cabecera   {
                float: left;
                display: block;
                margin: 0 auto;
                }

    #logo  {
            float: left;
            display: inline-block;
            vertical-align: middle;
            /*zoom: 1;  Fix for IE7
            *display: inline;*/ /* Fix for IE7 */
            }

    #titulo {
            text-align: center;
            margin: 1.5em;
            font-size: 5em;
            }

    #login  {
            float: right;
            display: inline-block;
            vertical-align: middle;
            zoom: 1; /* Fix for IE7 */
            *display: inline; /* Fix for IE7 */
            }

    nav#menu    {
                float: left;
                display: block;
                padding: 0;
                }

    nav#menu > ul > li  {
                        float: left;
                        height: 25%;
                        width: 25%;
                        }

    #autopromo  {
                display: block;
                width: 100%;
                height: 100%;
                }

    h1  {
        font-size: 6em;
        margin-left: 1em;
        margin-right: 1em;
        }

    .cuerpo     {
                float: left;
                clear: both;
                display: block;
                width: 100%;
                height: 100%;
                }

    .cuerpo > ul > li   {
                        width: 25%;
                        height: 25%;
                        display: inline-block;
                        vertical-align: top;
                        zoom: 1; /* Fix for IE7 */
                        *display: inline; /* Fix for IE7 */
                        }

    footer      {
                float: left;
                clear: both;
                display: block;
                }

    .boton  {
            width: 7em;
            height: 2em;
            background-color: #003c00;
            color: #76b900;
            border-color: #76b900;
            border-radius: 8px;
            text-align: center;
            }


    }

@media handheld {

    body {background-color: blue;}
}