@font-face {
        font-family: "zekton";
        src: url("../fuentes/Zekton/zekton.ttf");
    }

@border-radius {
    border-radius: "normal";
}

@media screen {

    main    {
            margin: 0 auto;
            width: 960px;
            font-family: "zekton";            
}
    
    #cabecera   {
                float: left;
                display: block;
                margin: 0 auto;
                margin-bottom: 1em;
                margin-top: 1em;
                width: 960px;
                background-color: #003C00;
                border-radius: 0.4em;
}

    #logo  {
            float: left;
            position: relative;
            top: 0.2em;
            left: 0.2em;
}

    #titulo {
            padding-left: 0.75em;
            font-size: 6em;
            display: inline-block;
}

    #login  {
            float: right;
            display: inline-block;
            margin-top: 0.5em;
}

    #user_img {
            width: 5em;
            margin-right: 0.3em;
            margin-left: 0.3em;
            float: left;
}

    #login > .boton {
            width: 50%;
            float: left;
            display: inline-block;
            height: 2em;
            background-color: #76b900;
            color: #003c00;
            border-color: #003c00;
            border-radius: "radius";
            text-align: center;
            vertical-align: middle;
            margin-top: 10px;
            font-family: "zekton";
            font-size: 0.82em;
    }

    #login > .boton + .boton {
        margin-top: 0.2em;
    }

    li#menu_buscar > img {
        width: 0.7em;
        position: relative;
        left: -1.05em;
        top: 0.15em;
        cursor: pointer;
        /*box-shadow: 1px 1px gray;*/
}

    nav#menu    {
                float: left;
                display: table;
                width: 960px;
                background-color: #003C00;
                font-size: 1.5em;
                border-radius: 0.2em;
                padding-top: 0.1em;
                padding-bottom: 0.4em;
}

    nav#menu > ul > li  {
                        float: left;
                        height: 1.5%;
                        width: 18%;
                        display: table-cell;
                        margin-left: 18px;
                        text-align: center;
}
    
    nav#menu > ul > li > a {
        vertical-align: middle;
    }
    
    li#menu_buscar {
    }
    
    li#menu_buscar > input {
                 height: : 0.3em;
                 border-radius: 0.4em;
    }

    #autopromo  {
                display: block;
                width: 100%;
                height: 100%;
}

    h1  {
        font-size: 6em;
        margin-left: 1em;
        margin-right: 1em;
}

    #cuerpo     {
                float: left;
                clear: both;
                display: block;
                width: 100%;
                height: 100%;
                }

    .cuerpo > ul > li   {
                        width: 25%;
                        height: 25%;
                        display: inline-block;
                        vertical-align: top;
                        zoom: 1; /* Fix for IE7 */
                        *display: inline; /* Fix for IE7 */
                        }

    footer      {
                float: left;
                clear: both;
                display: block;
                }

    #rss    {
        display: block;
    }

    .boton  {
            width: 7em;
            height: 2em;
            background-color: #003c00;
            color: #76b900;
            border-color: #76b900;
            border-radius: 8px;
            text-align: center;
            }


    }

@media handheld {

    body {background-color: blue;}
}