video {
    display: block;
    margin: 0 auto;
    text-align: center;
}
#controles {
    display: block;
    text-align: center;

    img {
        background-image: url('../img/controles.png');
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 8px;
    }

    #play {
        background-position: 0;
    }

    #pause {
        background-position: -4.30em;
    }

    #volup {
        background-position: -8.6em;
    }

    #voldown {
        background-position: -12.95em;
    }
}

progress {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}