.reset {
	margin : 0;
	padding: 0;
	cursor: default;
}

.menu {
	display: inline-block;
	background-color: Gold;
	border: 1px solid olive;
	vertical-align: middle;
	text-align: center;
}

.margin {
	margin-top: 1em;
}

.completeWith {
	width: 100%;
}

.buttonWidth {
	text-align: center;
	width: 24%;
}

.pointer {
	cursor: pointer;
}

.noMargin {
	margin: 0 auto;
}

.reset {
	margin: 0 auto;
	padding: 0;

}

.centered {
	text-align: center;
}

.grayText {
	color: #bfbfbf;
}

figure img[alt]{
	content: "Embarcación " counter(embarcacion) " de 5";
	counter-increment: embarcacion;
}

.completeWidth {
	width: 100%;
}

.imgSize {
	height: 190px;
	width: 288px;
}

.articlePosition {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	margin: 0 auto;
}

.block {
	display: block;
}

.hidden {
	visibility: hidden;
	display: none;
}



.bigFont {
	font-size: 2em;
}

.capitalize {
	text-transform: capitalize;
}

.azulClaro {
	background-color: #05a4ee;
}

.azulOscuro {
	background-color: #507afe;
}

.transparent {
	opacity: 0.5;
}

.decorationNone {
	text-decoration: none;
	list-style-type: none;
}